@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

$font-roboto:'Roboto', sans-serif;
$font-notoTC:'Noto Sans TC', sans-serif;

$fw-m:500;
$fw-bold:700;
$fw-black:900;

$font-root: 2px;

/* font 文字大小 */
@for $i from 1 through 60{
    .fz-#{$i*2}{
        font-size: $font-root * $i;
    }
}

@each $d in $padding-direction {
    @each $rwd in $rwd-reakpoints {
        @for $i from 1 through 60{
            @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
                .fz-#{$rwd}-#{$i*2}{
                    font-size: $font-root * $i;
                }
            }
        }
    }
}

/* font 文字行高 */
@for $i from 1 through 60{
    .lh-#{$i*2}{
        line-height: $font-root * $i;
    }
}

@each $d in $padding-direction {
    @each $rwd in $rwd-reakpoints {
        @for $i from 1 through 60{
            @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
                .lh-#{$rwd}-#{$i*2}{
                    line-height: $font-root * $i;
                }
            }
        }
    }
}