/* 卡片 .card */
.card{
    display: flex;
    flex-wrap: wrap;
    color: $card-black;
    &-item{
        width: 31.5%;
        margin-bottom: 32px;
        &:not(:nth-child(3n)){
            margin-right: 2.5%;
        }
        @include Pad(){
            width: 47.5%;
            margin-bottom: 20px;
            &:not(:nth-child(3n)){
                margin-right: 0;
            }
            &:not(:nth-child(2n)){
                margin-right: 5%;
            }
        }
        @include Phone(){
            width: 100%;
            &:not(:nth-child(2n)){
                margin-right: 0;
            }
        }
        &__img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 224px;
            @include Pad(){
                width: 100%;
                height: 164px;
            }
        }
        &__btn{
            display: block;
            font-size: 19px;
            line-height: 27px;
            color: #fff;
            background-color: #000;
            text-align: center;
            padding: 20px;
            @include Pad(){
                font-size: 14px;
                line-height: 21px;
            }
            @include Phone(){
            }
        }
    }
}

.card-item__content{
    &-title{
        font-size: 24px;
        line-height: 36px;
        padding: 12px 24px;
        border: 1px solid #00000020;
        @include Pad(){
            font-size: 16px;
            line-height: 24px;
        }
        @include Phone(){
        }
    }
    &-body{
        border: 1px solid #00000020;
        font-size: 20px;
        line-height: 30px;
        padding: 16px 24px;
        @include Pad(){
            font-size: 14px;
            line-height: 21px;
        }
        @include Phone(){
        }
        li{
            display: flex;   
            span{
                margin-right: 10px;
            }
        }
        li+li{
            margin-top: 8px;
        }
    }
}


/* 卡片第 2 類型 .card2 */
.card2{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    color: $card-black;
    &-item{
        width: 40%;
        margin-right: 2.5%;
        @include Pad(){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 32px;
            margin-right: 0;
        }
        @include Phone(){
            width: 100%;
            margin-right: 0;
        }
        &__img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 224px;
            @include Pad(){
                width: 48%;
                height: 164px;
                margin-right: 4%;
            }
            @include Phone(){
                width: 100%;
                margin-right: 0;
            }
        }
    }
    &-map{
        width: 57.5%;
        position: relative;
        overflow: hidden;
        @include Pad(){
            width: 100%;
            height: 450px;
        }
        @include Phone(){
            width: 100%;
            height: 200px;
        }
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.card2-item__content{
    @include Pad(){
        width: 48%;
    }
    @include Phone(){
        width: 100%;
    }
    &-title{
        font-size: 24px;
        line-height: 36px;
        padding: 12px 24px;
        border: 1px solid #00000020;
        @include Pad(){
            font-size: 16px;
            line-height: 24px;
        }
        @include Phone(){
        }
    }
    &-body{
        border: 1px solid #00000020;
        font-size: 20px;
        line-height: 30px;
        padding: 16px 24px;
        @include Pad(){
            font-size: 14px;
            line-height: 21px;
        }
        @include Phone(){
        }
        li{
            display: flex;   
            span{
                margin-right: 10px;
            }
        }
        li+li{
            margin-top: 8px;
        }
    }
}
