/* 分頁導覽列 - 多頁式 */
.pagination{
    display: flex;
    justify-content: center;
    li a{
        display: block;
        border: 1px solid #555555;
        color: #555555;
        &.active{
            background-color: #000;
        }
    }
    li:first-child a, li:last-child a{
        font-size: 19px;
        line-height: 29px;
        padding: 11px 12px;
        background-color: #F2F2F2;
        @include Phone(){
            font-size: 14px;
            line-height: 26px;
            padding: 10px 10px;
        }
    }
    li:not(:first-child, :last-child) a{
        font-size: 18px;
        line-height: 27px;
        padding: 12px 16px;
        @include Phone(){
            font-size: 16px;
            line-height: 22px;
            padding: 12px 15px;
        }
    }
}

/* 分頁導覽列 - 左右分列前一頁下一頁導覽 */
.pagination-dual{
    display: flex;
    justify-content: space-between;
    @include Phone(){
        flex-direction: column;
        margin-bottom: 30px;
    }
    li{
        display: flex;
        align-items: center;
        font-size: 19px;
        line-height: 30px;
        @include Pad(){
            font-size: 16px;
        }
        @include Phone(){
            font-size: 14px;
        }
        &:hover{
            color: #aaa;
        }
        &:first-child span{
            // content: '←';
            margin-right: 12px;
            @include Pad(){
                margin-right: 8px;
            }
            @include Phone(){
                margin-right: 4px;
            }
        }
        &:last-child span{
            // content: '→';
            margin-left: 12px;
            @include Pad(){
                margin-left: 8px;
            }
            @include Phone(){
                margin-left: 4px;
            }
        }
    }
}