/* Blog 部落格 */
/* 文章區塊 .blog__articles */
.blog__articles{
    @include wrap__1110;
    margin-top: 60px;
    margin-bottom: 96px;
    @include Pad(){
        @include wrap__690;
        margin-top: 40px;
        margin-bottom: 64px;
    }
    @include Phone(){
        @include wrap__345;
        margin-top: 28px;
        margin-bottom: 40px;
    }
}

/* 文章單元區塊 .blog__articles__item */
/* 內含兩欄：圖片+內文*/
.blog__articles__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @include Pad(){
       margin-bottom: 24px;
    }
    @include Phone(){
        flex-direction: column;
        margin-bottom: 20px;
    }
    .articles__item__titlePic{
        width: 57%;
        @include Pad(){
           width: 47%;
        }
        @include Phone(){
            width: 100%;
            margin-bottom: 8px;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .articles__item__content{
        width: 40%;
        @include Pad(){
           width: 50%;
        }
        @include Phone(){
            width: 100%;
        }
        .title{
            margin-bottom: 24px;
            @include Pad(){
                margin-bottom: 32px;
            }
        }
        h3{
            color: $sub-red;
            font-size: 32px;
            line-height: 63px;
            @include Pad(){
                font-size: 20px;
                line-height: 30px;
            }
            @include Phone(){
                font-size: 16px;
                line-height: 24px;
            }
        }
        h4{
            font-size: 20px;
            line-height: 30px;
            display: flex;
            justify-content: space-between;
            @include Pad(){
                font-size: 16px;
                line-height: 30px;
            }
            @include Phone(){
                font-size: 14px;
                line-height: 24px;
            }
            span{
                font-size: 16px;
                line-height: 24px;
                @include Pad(){
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        p{
            font-size: 20px;
            line-height: 30px;
            color: $main-gray;
            @include Pad(){
                font-size: 14px;
                line-height: 21px;
            }
            @include Phone(){
                display: none;
            }
            
            a{
                display: block;
                margin-top: 14px;
                text-align: right;
                font-size: 36px;
                line-height: 54px;
                color: $sub-red;
                @include Pad(){
                    display: inline;
                    margin-top: 0;
                    font-size: 14px;
                    line-height: 21px;
                    color: $main-gray;
                }
                @include Phone(){
                }
            }
        }
    }
}
