/* 首頁 banner 大圖區 .home-banner */
.home-banner{
    height: calc(100vh - 109px);
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png") center/cover;
}

/* 首頁 banner 大圖區 文字內容 .home-banner__content*/
.home-banner__content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 109px);
    justify-content: center;
    align-items: flex-end;
    color: $sub-red;
    h2{
        font-size: 64px;
        line-height: 96px;
        font-weight: bold;
        @include Pad(){
            font-size: 48px;
            line-height: 72px;
        }
        @include Phone(){
            font-size: 32px;
        }
    }
    h3{
        font-size: 36px;
        line-height: 54px;
        @include Pad(){
            font-size: 20px;
            line-height: 30px;
        }
        @include Phone(){
            font-size: 16px;
        }
    }
}

/* 首頁 slogan 標語區 .slogan */
.slogan{
    background-color: #AA06010D;
    color: $sub-red;
    p{
        color: #000;
    }
    &__items{
        li{
            width: 23%;
            @include Pad(){
                width: 37%;
            }
            @include Phone(){
                width: 100%;
            }
        }
    }
}
