.Products__subNavbar{
    li{
        width: calc(100%/3);
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
        border-bottom: 8px solid #FFF;
        a{
            color: #000;
        }
        &.active{
            border-bottom: 8px solid #AA0601;
            @include Phone(){
                border-bottom: 4px solid #AA0601;
            }
        }
    }
}

.Products__banner{
    li{
        width: 50%;
        height: 304px;
        overflow: hidden;
        @include Phone(){
            height: 148px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

ul.Products__OP{
    max-height: 880px;
    overflow: hidden;
    @include Pad(){
        max-height: 1388px;
    }
    @include Phone(){
        max-height: 695px;
    }
    li{
        width: 23%;
        @include Pad(){
            width: 47.5%;
        }
        @include Phone(){
            width: 100%;
        }
    }
    .OP-img{
        img{
            width: 100%;
            height: 164px;
            object-fit: cover;
            object-position: center;
        }
    }
    .OP-info{
        .price{
            color: $main-red;
        }
    }
    .OP-color{
        span{
            width: 24px;
            height: 24px;
            border-radius: 4px;
            @include Phone(){
                width: 16px;
                height: 16px;
            }
        }
        &__b{
            background-color: #5F3E2D;
        }
        &__r{
            background-color: #B75929;
        }
    }
}



ul.Products__SUN{
    max-height: 880px;
    overflow: hidden;
    @include Pad(){
        max-height: 804px;
    }
    @include Phone(){
        max-height: 695px;
    }
    li{
        width: 31.5%;
        @include Pad(){
            width: 47.5%;
        }
        @include Phone(){
            width: 100%;
        }
    }
    .OP-img{
        img{
            width: 100%;
            height: 224px;
            object-fit: cover;
            object-position: center;
            @include Pad(){
                height: 164px;
            }
        }
    }
    .OP-info{
        .price{
            color: $main-red;
        }
    }
    .OP-color{
        span{
            width: 24px;
            height: 24px;
            border-radius: 4px;
            @include Phone(){
                width: 16px;
                height: 16px;
            }
        }
        &__b{
            background-color: #5F3E2D;
        }
        &__r{
            background-color: #B75929;
        }
    }
}