/* 對齊 */
@each $ta in $text-align {
    .ta#{$ta}{
        text-align: map-get($text-align-base, $ta);
    }
}

@each $ta in $text-align {
    @each $rwd in $rwd-reakpoints {
        @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
            .ta-#{$rwd}-#{$ta}{
                text-align: map-get($text-align-base, $ta);
            }
        }
    }
}


/* font-size 文字大小 */
@for $i from 1 through 60{
    .fz-#{$i*2}{
        font-size: $fz-root * $i;
    }
}

@each $d in $padding-direction {
    @each $rwd in $rwd-reakpoints {
        @for $i from 1 through 60{
            @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
                .fz-#{$rwd}-#{$i*2}{
                    font-size: $fz-root * $i;
                }
            }
        }
    }
}

/* line-height 文字行高 */
@for $i from 1 through 60{
    .lh-#{$i*2}{
        line-height: $fz-root * $i;
    }
}

@each $d in $padding-direction {
    @each $rwd in $rwd-reakpoints {
        @for $i from 1 through 60{
            @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
                .lh-#{$rwd}-#{$i*2}{
                    line-height: $fz-root * $i;
                }
            }
        }
    }
}

/* font-weight 文字粗細 */
$fw-code:"n","l","b","bk";
$font-weight-base:(
    "n":normal,
    "l":lighter,
    "b":bold,
    "bk":bolder,
);

@for $i from 1 through 9{
    .fw-#{$i*100}{
        font-weight: $i * 100;
    }
}

@each $w in $fw-code {
    .fw-#{$w}{
        font-weight: map-get($font-weight-base, $w);
    }
}

@each $w in $fw-code {
    @each $rwd in $rwd-reakpoints {
        @for $i from 1 through 9{
            @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
                .fw-#{$rwd}-#{$i*100}{
                    font-weight: $i * 100;
                }
            }
        }
    }
}

@each $w in $fw-code {
    @each $rwd in $rwd-reakpoints {
        @each $w in $fw-code {
            @media (max-width:map-get($rwd-reakpoint-base, $rwd)) {
                .fw-#{$rwd}-#{$w}{
                    font-weight: map-get($font-weight-base, $w);
                }
            }
        }
    }
}
