// 圖片取代文字
.hide-text {
    text-indent: 1100%;
    white-space: nowrap;
    overflow: hidden;
}

// 清除浮動
@mixin clearfix() {
    &::before,
    &::after{
        content: "";
        display: table;
    }
    &::after{
        clear: both;
    }
}

.clearfix {
    &::before,
    &::after{
        content: "";
        display: table;
    }
    &::after{
        clear: both;
    }
}

// 文字截斷
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}