@charset "UTF-8";
/* Setting*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 自定義 reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* Component */
/* 分頁導覽列 */
/* Layout*/
/* 全局設定 */
body {
  font-family: 'Roboto','Noto Sans TC',sans-serif; }

a:hover {
  opacity: 0.7; }

header, footer {
  background-color: #AA0601; }

/* 頁首 header 第一層 .header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .header .logo {
    /* 頁首 header Logo */
    text-indent: 1100%;
    white-space: nowrap;
    overflow: hidden;
    width: 80px;
    height: 49px;
    margin: 30px;
    background: url("../../images/week3/logo-new_工作區域 1@2x.png") center/cover; }
    @media (max-width: 767px) {
      .header .logo {
        background: url("../../images/week3/logo-new_工作區域 1.png"); } }

/* 頁首 header .navList 導覽列 */
ul.header__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px; }
  ul.header__navList li + li {
    margin-left: 64px; }
  @media (max-width: 767px) {
    ul.header__navList {
      width: 100%;
      margin: 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      ul.header__navList li {
        width: 50%;
        border: 1px solid #FFF;
        text-align: center; }
      ul.header__navList li + li {
        margin-left: 0; } }
  ul.header__navList a {
    color: #FFF;
    font-size: 20px;
    line-height: 30px; }

/* 頁尾 footer 第一層 .footer */
.footer {
  padding: 40px 0;
  color: #FFF;
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 996px) {
    .footer {
      max-width: 690px;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .footer {
      max-width: 345px;
      margin: 0 auto; } }
  .footer a {
    color: #FFF; }

/* footer 第一列 .footer__content 主要內容區 */
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFF;
  margin-bottom: 32px; }

/* footer 第一列 第一欄 主要內容 .footer__content__main */
/* navList 導覽列 */
ul.footer__content__main__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    ul.footer__content__main__navList {
      display: none; } }
  ul.footer__content__main__navList li + li {
    margin-left: 48px; }
  ul.footer__content__main__navList a {
    font-size: 16px;
    line-height: 24px; }

/* contact 聯絡方式 */
ul.footer__content__main__contact {
  margin-bottom: 24px; }
  ul.footer__content__main__contact li, ul.footer__content__main__contact span {
    font-size: 36px;
    line-height: 54px; }
    @media (max-width: 767px) {
      ul.footer__content__main__contact li, ul.footer__content__main__contact span {
        font-size: 16px;
        line-height: 30px; } }
  ul.footer__content__main__contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  ul.footer__content__main__contact span {
    margin-right: 20px; }

/* footer 第一列 第二欄 社群媒體 ul.footer__content__community */
.footer__content__community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__content__community a {
    display: block;
    width: 48px;
    height: 48px; }
    @media (max-width: 996px) {
      .footer__content__community a {
        width: 24px;
        height: 24px; } }
    @media (max-width: 767px) {
      .footer__content__community a {
        width: 24px;
        height: 24px; } }
  .footer__content__community li + li {
    margin-left: 32px; }
  .footer__content__community .facebook {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-fb.svg") center/cover; }
  .footer__content__community .instagram {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-ig.svg") center/cover; }
  .footer__content__community .line {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-line.svg") center/cover; }

/* footer 第二列 .footer__appendix 附註區 */
.footer__appendix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .footer__appendix {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

/* footer 第二列 第一欄 copyright */
.footer__appendix__copyright {
  font-size: 16px;
  line-height: 24px; }

/* footer 第二列 第二欄 rules 政策條款區 */
.footer__appendix__rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .footer__appendix__rules {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer__appendix__rules li + li {
    margin-left: 48px; }
    @media (max-width: 767px) {
      .footer__appendix__rules li + li {
        margin-left: 0px; } }
  .footer__appendix__rules a {
    color: #FFF;
    font-size: 14px;
    line-height: 21px; }

/* Pages */
/* 首頁 banner 大圖區 .home-banner */
.home-banner {
  height: calc(100vh - 109px);
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png") center/cover;
  color: #650300; }

/* 首頁 banner 大圖區 文字內容 .home-banner__content*/
.home-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 109px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 996px) {
    .home-banner__content {
      max-width: 690px;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .home-banner__content {
      max-width: 345px;
      margin: 0 auto; } }
  .home-banner__content h2 {
    font-size: 64px;
    line-height: 96px; }
    @media (max-width: 996px) {
      .home-banner__content h2 {
        font-size: 48px;
        line-height: 72px; } }
    @media (max-width: 767px) {
      .home-banner__content h2 {
        font-size: 32px; } }
  .home-banner__content h3 {
    font-size: 36px;
    line-height: 54px; }
    @media (max-width: 996px) {
      .home-banner__content h3 {
        font-size: 20px;
        line-height: 30px; } }
    @media (max-width: 767px) {
      .home-banner__content h3 {
        font-size: 16px; } }

/* Blog 部落格 */
/* Blog 第一層 副導覽列 基本設定*/
.blog__subNavbar {
  background-color: #650300; }
  @media (max-width: 767px) {
    .blog__subNavbar {
      display: none; } }
  .blog__subNavbar .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1110px;
    margin: 0 auto; }
    @media (max-width: 996px) {
      .blog__subNavbar .wrap {
        max-width: 690px;
        margin: 0 auto; } }

/* Blog 第一層 副導覽列 */
/* Blog 副導覽列的 navList */
ul.blog__subNavbar__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

li a {
  display: block;
  color: #FFF;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 0; }
  @media (max-width: 996px) {
    li a {
      font-size: 16px;
      padding: 16px 0; } }

li + li {
  margin-left: 48px; }
  @media (max-width: 996px) {
    li + li {
      margin-left: 32px; } }

span {
  color: #FFF;
  font-size: 30px; }

/* Blog 第二層 主要內容區 .blog__main */
.blog__main {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 160px; }
  @media (max-width: 996px) {
    .blog__main {
      max-width: 690px;
      margin: 0 auto;
      margin-top: 32px;
      margin-bottom: 96px; } }
  @media (max-width: 767px) {
    .blog__main {
      max-width: 345px;
      margin: 0 auto;
      margin-top: 28px;
      margin-bottom: 56px; } }
  .blog__main h2 {
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 16px solid #9F1213; }

/* Blog 第二層 主要內容區 .blog__main */
/* 文章區塊 .blog__main__articles */
/* Blog 第二層 主要內容區 .blog__main */
/* 分頁導覽列 .blog__main__pagination */
ul.blog__main__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  ul.blog__main__pagination li a {
    display: block;
    border: 1px solid #555555;
    color: #555555; }
    ul.blog__main__pagination li a.active {
      background-color: #000; }
  ul.blog__main__pagination li:first-child a, ul.blog__main__pagination li:last-child a {
    font-size: 19px;
    line-height: 29px;
    padding: 11px 12px;
    background-color: #F2F2F2; }
    @media (max-width: 767px) {
      ul.blog__main__pagination li:first-child a, ul.blog__main__pagination li:last-child a {
        font-size: 14px;
        line-height: 26px;
        padding: 10px 10px; } }
  ul.blog__main__pagination li a {
    font-size: 18px;
    line-height: 27px;
    padding: 12px 16px; }
    @media (max-width: 767px) {
      ul.blog__main__pagination li a {
        font-size: 16px;
        line-height: 22px;
        padding: 12px 15px; } }

/* Util */

/*# sourceMappingURL=all.css.map */
