@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap');

/* 全局設定 */
*,*::before,*::after{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

img{
    vertical-align: middle;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

h1{
    font-size: 80px;
    line-height: 106px;
    font-weight: 700;
}

h2{
    font-size: 64px;
    line-height: 84px;
}

h3{
    font-size: 24px;
    line-height: 42px;
}

h4{
    font-size: 24px;
    line-height: 36px;
}

h5{
    font-size: 20px;
    line-height: 30px;
}

h6{
    font-size: 20px;
    line-height: 42px;
}

/* 部件設定 */
.wrap__1200{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.df-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.df-jcsb{
    display: flex;
    justify-content: space-between;
}

.ta-c{
    text-align: center;
}

.m-0a{
    margin: 0 auto;
}

.lh-36{
    line-height: 36px;
}

.lh-42{
    line-height: 42px;
}

.mb-1{
    margin-bottom: 4px;
}

.mb-2{
    margin-bottom: 8px;
}

.mb-4{
    margin-bottom: 16px;
}

.mb-5{
    margin-bottom: 20px;
}

.mb-6{
    margin-bottom: 24px;
}

.mb-8{
    margin-bottom: 32px;
}

.mb-10{
    margin-bottom: 40px;
}

.mb-12{
    margin-bottom: 48px;
}

.mb-14{
    margin-bottom: 56px;
}

.mb-17{
    margin-bottom: 68px;
}

.mb-40{
    margin-bottom: 160px;
}

.mt-7{
    margin-top: 28px;
}

.pt-14{
    padding-top: 56px;
}

.pb-14{
    padding-bottom: 56px;
}

.pt-16{
    padding-top: 64px;
}

.pb-16{
    padding-bottom: 64px;
}

.pb-36{
    padding-bottom: 144px;
}

.pb-40{
    padding-bottom: 160px;
}

/* Banner 區塊 - 版面配置 */
.banner{
    background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png') no-repeat center;
    height: 100vh;
    min-height: 350px;
}

.banner__content{
    color: #fff;
}

.community{
    display: flex;
}

.community li+li{
    margin-left: 16px;
}

/* About 區塊 - 細部樣式 */
.hr-384{
    width: 384px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}

.experience{
    margin: 0 auto;
}

.experience li span{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #891818;
    margin-right: 16px;
}


/* Brand 區塊 - 細部樣式 */
.brand{
    background-color: #000;
    color: #fff;
}


/* footer 區塊 - 細部樣式 */
footer{
    background-color: #000;
    color: #fff;
}

footer a {
    color: #fff;
}
