/* Blog 部落格 */
/* Blog 第一層 副導覽列 基本設定*/
.blog__subNavbar{
    background-color: #650300;
    @include Phone(){
        display: none;
    }
    .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include wrap__1110;
        @include Pad(){
            @include wrap__690;
        }
    }
    span{
        color: #FFF;
        font-size: 30px;
    }
}

/* Blog 第一層 副導覽列 */
/* Blog 副導覽列的 navList */
ul.blog__subNavbar__navList{
    display: flex;
    li a{
        display: block;
        color: #FFF;
        font-size: 20px;
        line-height: 24px;
        padding: 12px 0;
        @include Pad(){
            font-size: 16px;
            padding: 16px 0;
        }
    }
    li+li{
        margin-left: 48px;
        @include Pad(){
            margin-left: 32px;
        }
    }
}


/* Blog 第二層 主要內容區 .blog__main */
.blog__main{
    @include wrap__1110;
    margin-top: 40px;
    margin-bottom: 160px;
    @include Pad(){
        @include wrap__690;
        margin-top: 32px;
        margin-bottom: 96px;
    }
    @include Phone(){
        @include wrap__345;
        margin-top: 28px;
        margin-bottom: 56px;
    }
    h2{
        font-size: 48px;
        line-height: 80px;
        font-weight: bold;
        padding-left: 16px;
        border-left: 16px solid #9F1213;
    }
}

/* Blog 第二層 主要內容區 .blog__main */
/* 文章區塊 .blog__main__articles */



/* Blog 第二層 主要內容區 .blog__main */
/* 分頁導覽列 .blog__main__pagination */
ul.blog__main__pagination{
    @include pagination;
}

