/* banner 大圖區 */
.banner{
    height: calc(100vh - 109px);
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png") center/cover;
    color: #650300;
    .content{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 109px);
        justify-content: center;
        align-items: flex-end;
        @include wrap__1110;
        @include Pad(){
            @include wrap__690;
        }
        @include Phone(){
            @include wrap__345;
        }
        h2{
            font-size: 64px;
            line-height: 96px;
            @include Pad(){
                font-size: 48px;
                line-height: 72px;
            }
            @include Phone(){
                font-size: 32px;
            }
        }
        h3{
            font-size: 36px;
            line-height: 54px;
            @include Pad(){
                font-size: 20px;
                line-height: 30px;
            }
            @include Phone(){
                font-size: 16px;
            }
        }
    }
}
